:root{
    --text-color: #000000;
    --link-color: #4b75c2;
    --background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/*Navbar*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
    transition: .1s;
}

nav .right a:hover {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 10px;
    margin: 0px;
    border-radius: 5px;
}

/*Bagian 1 - Hero Section*/
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border:2px solid var(--text-color)
}

.hero-section .profil {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .profil img {
    border-radius: 50%;

}

/* Bagian 2 - Skill */
.skill-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.skill-section h2 {
    text-align: center;
    font-size: 35px;
}

.skill-section .text {
    text-align: center;
    margin-bottom: 20px;
}

.skill-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
}

.skill-section .cells .cell span {
    font-size: 18px;
}

.skill-section .cells img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 35px;
}

/* Bagian 3 - Project */
.project-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.project-section h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolom untuk layar lebar */
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.project-card {
    background-color: var(--background-color);
    border: 1.5px solid #d3d3d3;
    border-radius: 10px;
    overflow: hidden; /* Agar gambar tidak keluar dari border-radius */
    transition: transform 0.3s ease;
}

.project-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 1.5px solid #d3d3d3;
}

.project-content {
    padding: 20px;
    text-align: center;
}

.project-content h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: var(--text-color);
}

.project-content p {
    font-size: 15px;
    line-height: 1.6;
    color: #555;
}



/* Bagian 4 - Testimony */
.testimony-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.testimony-section h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.testimony-section .group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.testimony-section .g-detail {
    text-align: center;
    flex: 2;
}

.testimony-section .g-detail img {
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimony-section .g-detail p {
    font-weight: 600;
}

.testimony-section .g-detail p {
    font-weight: normal;
}

.testimony-section .group .text {
    flex: 8;
}

/* Bagian 5 - Contact */
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
}

.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: 'Noto Sans', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
}

.contact-section .group form button:hover {
    filter: brightness(.9);

}

/* Bagian 1 - Hero (media) */
@media (max-width: 850px) {
    .hero-section .text h2 {
        font-size: 35px;
    }

}

@media (max-width: 740px) {
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .profil img {
        height: 300px;
        width: 300px;
    }
    
    /* Bagian 3 - Project */
    .project-container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .project-container img {
        height: 200px;
    }

    /* Bagian 4 - Testimony */
    .testimony-section {
        text-align: center;
    }

    .testimony-section .group {
        flex-direction: column;
    }

    /* Bagian 5 - Contact */
    .contact-section .group {
        flex-direction: column;
    }

}

/* Di bawah 600px */
@media (max-width: 600px){
    
    /* Navbar */
    nav {
        padding: 0 20px;
    }

    nav .right a span {
        display: none;
    }

    /* Hero */
    .hero-section {
        padding: 0 20px;
    }

    .hero-section .text h2 {
        font-size: 30px;
    }

    /* Bagian 2 - skill */
    .skill-section {
        padding: 0 20px;
    }

    .skill-section .cells .cell span {
        font-size: 16px;
    }

    /* Bagian 3 - project */
    .project-section {
        padding: 0 20px;
    }

    /* Bagian 4 - Testimony */
    .testimony-section {
        padding: 50px;
    }

    /* Bagian 5 - Contact */
    .contact-section {
        padding: 0 15px;
    }
}